.slider {
  margin: 0;
  padding: 0;
}

.slider-background {
  margin: 3px 0px;
  padding: 0px;
  width: 60%;
  max-width: 400px;
}

.slider-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.button {
  min-width: 80px !important;
  margin: 10px 20px !important;
}

.Hflex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Vflex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Filler {
  flex-grow: 1000;
}

.Spacer {
  width: 30px;
  height: 15px;
}

.EndSpacer {
  width: 30px;
  height: 100px;
}

p, li {
  line-height: 1.5;
}

.infected {
  background: #ffc1bd;
}

.susceptible {
  background: #ebebeb;
}

.recovered {
  background: #beebc8;
}

.dead {
  background: #525252;
  color: white;
}

.node {
  padding: 2px 7px;
}

.label {
  padding: 2px;
}

h2 {
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}

code {
  background: #fdf6e3;
  font-size: 14px;
  color: #d33682;
  padding: 3.5px;
}

.playIcon {
  vertical-align: middle;
}

h1 {
  padding: 20px 0 0 0;
}